.welcome {
  color: #0b0c10;
  font-weight: bolder;
  font-size: 60px;
}

.img {
  height: 200px;
}
.card {
  background: #0b0c10 !important;
  border-radius: 10px;
  box-shadow: 0 2px 20px #0b0c10;
  transition: transform 200ms ease-in;
  color: #c5c6c7;
}
.card:hover {
  transform: scale(1.02);
}
.title {
  padding: 1rem;
  font-weight: bolder !important;
  color: white;
}
