.welcome {
  color: #000000;
  font-weight: bolder;
  font-size: 60px;
}

.img {
  height: 10rem;
  object-fit: cover;
}
.card {
  background: #28282a !important;
  border-radius: 10px;
  box-shadow: 0 2px 20px #000000;
  transition: all 200ms ease-in;
  color: #c5c6c7;
  font-weight: 600;
}
.card:hover {
  transform: scale(1.02);
}
.title {
  padding: 1rem;
  font-weight: bolder !important;
  color: #ffffff;
}
