.container {
  min-height: 100vh;
  max-width: 1200px;
}

h1 {
  font-weight: bolder !important;
  color: #000000;
  font-size: 60px !important;
}

.tagline {
  font-size: 30px;
  font-style: italic;
  font-weight: 700;
  color: #000000;
}

.image {
  width: 100%;
  border: 3px solid #000000;
}

.status {
  margin-top: 20px !important;
  text-align: center;
  width: 200px;
  color: #ffffff;
  background-color: #000000;
  border-radius: 5px;
}

.overview {
  font-weight: 500;
  font-size: 20px;
  color: #000000;
}
