.container {
  display: flex;
  justify-content: space-around !important;
}

.navbar {
  background-color: #000000;
  color: #ffffff;
}

.logomovies {
  font-size: 2rem !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logoname {
  background-color: transparent;
  color: #cc6900;
  font-weight: bolder;
}

span {
  border-radius: 5px;
  background-color: #c4c7bd;
}

.category a {
  color: #c4c7bd !important;
  margin-right: 10px;
  font-size: large;
  font-weight: bolder;
}
.category a:hover {
  color: #ffffff !important;
}

.collapse {
  display: flex;
  justify-content: center;
  align-items: center;
}
