.navbar {
  position: sticky !important;
  top: 0;
  z-index: 1;
  background-color: #0b0c10;
  color: white;
}

.logomovies {
  font-size: 30px !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logoname {
  background-color: transparent;
}

span {
  background-color: #c5c6c7;
  border-radius: 5px;
}

.category a {
  color: #c5c6c7 !important;
  margin-right: 10px;
}
.category a:hover {
  color: white !important;
}
