.card {
  background: #28282a !important;
  border-radius: 10px;
  box-shadow: 0 0 23px #000000;
  transition: all 250ms ease-in;
  color: #c4c7bd;
  position: relative;
}
.card:hover {
  transform: scale(1.02);
}

.boximg {
  height: 360px;
  object-fit: cover;
}

.text {
  font-weight: 700;
}

.title {
  height: 70px;
  width: 100%;
  font-weight: bolder !important;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grade {
  height: 30px !important;
  width: 45px !important;
  background: #cc6900;
  font-weight: 700;
  border-radius: 5px;
  border: none;
  color: #000000;
  margin-left: 6px;
  font-size: large;
}
.releasedate {
  background: #28282a !important;
  color: #c4c7bd;
  font-weight: 500;
  border: none;
}
