.card {
  background: #0b0c10 !important;
  border-radius: 10px;
  box-shadow: 0 2px 20px #0b0c10;
  transition: transform 200ms ease-in;
  color: #c5c6c7;
  position: relative;
}
.card:hover {
  transform: scale(1.02);
}
.img {
  height: 360px;
  object-fit: cover;
}

.title {
  padding: 1rem;
  font-weight: bolder !important;
  color: white;
}

.grade {
  height: 30px !important;
  width: 40px !important;
  background: yellow;
  font-weight: 600;
  border-radius: 5px;
}
.releasedate {
  background-color: #0b0c10;
  color: #c5c6c7;
  font-weight: 500;
}
/* .release {
  margin-top: auto;
}
.rating {
  margin-top: auto;
} */
