#paginationActive {
  background-color: #000000;
  border: 2px solid #000000;
  color: #c4c7bd;
  font-weight: 600;
}
#paginationInactive {
  background-color: #c4c7bd;
  border: 2px solid #000000;
  font-weight: 600;
}
